# Default ignored files
/shelf/
/workspace.xml
/libraries
/.name
/compiler.xml
/dbnavigator.xml
/jarRepositories.xml
/misc.xml
/modules.xml
/uiDesigner.xml
/vcs.xml
C:\Users\Beast\Desktop\JAVA projektai\Weatherlady\Weatherlady.mv.db
C:\Users\Beast\Desktop\JAVA projektai\Weatherlady\Weatherlady.trace.db
C:\Users\Beast\Desktop\JAVA projektai\Weatherlady\Weatherlady.iml
